<div class="main-div">
  <mat-card class="center">
    <div *ngIf="!hasEdit">
      <mat-list role="list" style="text-align: center;">
        <mat-list-item role="listitem" *ngFor="let people of peoples">
          <p dir="rtl">{{people.name}}</p>
        </mat-list-item>
      </mat-list>
      <button mat-raised-button (click)=onEdit() color="primary">Edit</button>
    </div>

    <div *ngIf="hasEdit" style="text-align: center;">
      <form [formGroup]="peopleForm" (ngSubmit)="onSubmit()">


        <div formArrayName="items" *ngFor="let item of peopleForm.get('items').controls; let i = index;">
          <div [formGroupName]="i">

            <mat-form-field class="example-full-width">
              <input matInput dir="rtl" formControlName="name">
            </mat-form-field>

            <span>

              <a href="javascript:void(0);" (click)="onRemove(i)">
                <mat-icon svgIcon="thumbs-up"></mat-icon>
              </a></span>
          </div>

        </div>
        <button mat-raised-button (click)="onUpdate()" color="accent"> Update</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button mat-raised-button (click)="onCancel()" color="warn"> Cancel</button>
      </form>

    </div>
  </mat-card>

</div>
